//content slides in from left
@keyframes slideInFromLeft{
    0%{
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
    }
}